
#aside-items .light-button {
    display: block;
    margin: 5px auto 0;
    padding: 0;
}

#aside-items > ul {
    padding: 3px;
}

#aside-items li {
    padding: 0;
}

#aside-items ul li span {
    display: inline-block !important;
    vertical-align: middle;
    width: 155px;
}

#aside-items ul li .remove-row {
    background: url("../img/delete.png") no-repeat scroll 0 0 / 16px auto rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    margin-left: 3px;
    vertical-align: middle;
}

.keep-aside {
	display: block !important;
}



#search-form {
    background-color: #C4B58A;
    border: 2px inset #C4B58A;
    margin: 10px;
    padding: 10px;
}

#last_update {
    color: #94854A;
    float: right;
    font-size: 12px;
    margin: -10px -8px;
}

#search-form > h1 {
    color: #FEF5E3;
    font-family: tahoma;
    margin: 0 0 10px;
    text-transform: uppercase;
}

#types {
    background-color: #F6EDDC;
    float: left;
    min-height: 162px;
    width: 250px;
}

#types li {
    cursor: pointer;
	list-style: disc outside none;
}

#types li.tree-collapsed {
	list-style-image: url("../img/arrow-right.png");
}

#types li.tree-collapsed>ul {
	display: none;
}

#types li.tree-expanded {
	list-style-image: url("../img/arrow-down.png");
}

#types li.tree-expanded>ul {
	display: block;
}

#search-fields {
    float: left;
    margin: -5px 15px 0;
}

#search-fields input[type="text"] {
    width: 30px;
}

#search-fields > div {
    background-color: #F6EDDC;
    margin: 5px 5px 7px;
    padding: 3px;
}

#search-fields h3 {
    color: #94855A;
    margin: 4px 0;
    padding: 0 0 0 10px;
    text-transform: uppercase;
}

#search-fields h3 input {
    float: right;
    margin-top: -2px;
}

#effects {
    background-color: #C4B58A;
    margin: 0;
    padding: 0;
}

#effects li {
    list-style: none outside none;
    padding: 2px 5px;
}

#name {
    width: 200px !important;
}

#search-form .submit {
    background-color: rgba(0, 0, 0, 0);
    margin: 20px 0 0;
    text-align: center;
}

.result {
    background-color: #C4B58A;
    border: 2px inset #C4B58A;
    margin: 14px 10px 10px;
	min-width: -moz-max-content;
	min-width: -webkit-max-content;
    padding: 0 10px 10px;
}

.result .title {
	font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    max-width: 740px;
	color: #FEF5E3;
    padding: 0 10px;
}

.result .title > h1, .result .title > h3 {
    float: left;
    text-transform: uppercase;
}

.result .title > h1 {
    margin: 0;
}

.result .title > h3 {
    margin: 2px 0 0 15px !important;
}

.result .title > h4 {
    margin: 6px 0 0 15px;
}

.result .title > h4 {
    float: right;
}


.item .description div {
    background-color: #F6EDDC;
    color: #5E4911;
    float: left;
    font-size: 12px;
	margin-right: 5px;
    max-width: 660px;
    padding: 5px 10px;
}

.item .description .light-button {
    float: right;
    margin: 0;
    padding: 0;
}

.item .image {
    height: 120px;
    margin: 10px;
    width: 120px !important;
}

.result .caracs {
    color: #000000;
    font-size: 14px;
}

.result .caracs div {
    float: left;
    width: 190px;
}

.result .caracs h2 {
    background-color: #F6EDDC;
    color: #5E4911;
    font-size: 17px;
    margin: 5px;
    padding: 1px 0;
    text-align: center;
    text-transform: uppercase;
}

.result .caracs ul {
    list-style: none outside none;
    margin: 5px;
    padding: 0;
}

.result .caracs ul li {
    padding-left: 3px;
}

.item .craft {
    background-color: #F6EDDC;
    max-width: 740px;
    padding: 5px 10px;
}

.item .craft div {
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
}

.item .craft div h2 {
    font-size: 16px;
}

.item .craft div h3 {
    font-size: 14px;
}

.item .craft div h2, .craft div h3 {
    display: inline;
}

.item .craft span {
    font-size: 14px;
    margin-left: 15px;
}

.panoplie {
	min-width: 500px;
}

.panoplie .item-list {
    list-style: none outside none;
    padding: 0;
}

.panoplie .item-list li {
    float: left;
}

.result .invalid {
    float: right;
    font-size: 12px;
    margin: 1px 0 -9px;
}

.result .invalid > a {
    color: #94854A;
}

.result .invalid > a:hover {
    color: #AB9C62;
}

.result .invalid > span {
    background: url("../img/warning.png") no-repeat scroll 0 0 / 13px auto rgba(0, 0, 0, 0);
    color: #94854A;
    padding-left: 14px;
}

.smetisufod-item-lookup .result {
    margin: 0;
}














