<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}

<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ pageDescription }}" />
    <meta name="keywords" content="dofus,objets,recherche,wakfu,ankama,amakna,kamas,pa,pm,po" />
    <meta name="robots" content="noodp" />
    <meta name="rating" content="General" />
    <meta name="author" content="Thierry Jacoel" />
    <meta http-equiv="content-language" content="fr-fr" />
    
    <meta property="og:site_name" content="Smetisufod" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:description" content="{{ pageDescription }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ pageUrl }}" />
    
    <meta itemprop="name" content="{{ pageTitle }}" />
    <meta itemprop="description" content="{{ pageDescription }}" />
    <meta itemprop="image" content="" />
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="{{ pageUrl }}" />
    <meta name="twitter:title" content="{{ pageTitle }}" />
    <meta name="twitter:description" content="{{ pageDescription }}" />
    
    <title>{% block title %}{{ pageTitle }}{% endblock %}</title>
</head>
<body>

<header>
<a href="{% url "home" %}">SmetisufoD</a>
</header>

<nav class="wide">
    <h1>Index</h1>
    <ul>
        <li class="odd {% if active_tab == "search" %}active{% endif %}"><a href="{% url "search" %}">Recherche</a></li>
        <li class="even {% if active_tab == "dev" %}active{% endif %}"><a href="{% url "dev" %}">Developpeurs</a></li>
        <li class="odd {% if active_tab == "contact" %}active{% endif %}"><a href="{% url "contact" %}">Contact</a></li>
    </ul>
</nav>

<main class="wide">
{% block content %}{% endblock %}
</main>

<footer>
    <a href="http://www.ankama.com" target="_blank">Toutes les informations et images pr&eacute;sentes sur ce site sont la propri&eacute;t&eacute; de Ankama.</a>
</footer>

<script src="{% static "js/jquery.1.11.0.min.js" %}"></script>
{% block js %}{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
{% block css %}{% endblock %}

</body>
</html>