{% extends "base.html" %}

{% load url from future %}
{% load staticfiles %}

{% block title %}D&eacute;velopeurs{% endblock %}

{% block js %}
<script src="{% url "jquery_plugin" %}"></script>
<script>
    $(function() {
        $(".item-lookup.link").lookupitem({"makeLink": true});
        $(".item-lookup").lookupitem();
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% url "jquery_plugin_css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/developers.css" %}">
{% endblock %}

{% block content %}

<p>
    Cette section d&eacute;taille les diff&eacute;rentes fonctionalit&eacute;s disponibles pour les d&eacute;velopeurs.<br />
    Le site met &agrave; la disposition de qui veut l'utiliser un web-service permettant la recherche d'objets dans la base de donn&eacute;es du site.
    <br />
    Le site fournit aussi un plugin jQuery permettant d'afficher les caract&eacute;ristiques d'un objet au survol d'un &eacute;l&eacute;ment de page web.
</p>

<section id="web-service">
    <h1>Web Service</h1>
    <div>
        <p>
            Le site propose un web-service disponible &agrave; l'adresse <span class="url">{{ search_full_url }}</span> pour la recherche d'objets. <br />
            La requ&ecirc;te est &agrave; faire avec la m&eacute;thode http GET. <br />
            Les param&egrave;tres possibles pour cette requ&ecirc;te sont :
        </p>
        {% for param in param_list %}
        {% autoescape off %}
        <div class="param">
            <h4>{{ param.name|join:" ; " }}</h4>
            <p>{{ param.desc }}</p>
            <h5>Valeurs possibles :</h5> {{ param.type|join:" ; " }}<br />
            <h5>Exemple d'utilisation :</h5> <span class="code">{{ param.example }}</span><br />
            <h5>Si non fournit :</h5> {{ param.default }}
        </div>
        {% endautoescape %}
        {% endfor %}
    </div>
</section>

<section id="jquery-plugin">
    <h1>Plugin jQuery</h1>
    <div>
        <p>
            Le site fournit aussi un plugin jQuery.<br />
            Ce plugin permet d'afficher les caract&eacute;ristiques d'un objet au survol d'un &eacute;l&eacute;ment HTML.<br />
            Exemple d'utilisation : <span class="item-lookup">Marteau du Bouftou</span><br />
            Le plugin est disponible &agrave; l'adresse <span class="url">{{ plugin_url }}</span>.<br />
            Le CSS associ&eacute; est lui aussi fournit par le site et disponible &agrave; l'adresse <span class="url">{{ plugin_css }}</span>.
        </p>
        
        <h2>Pr&eacute;-requis</h2>
        <p>
            Le plugin requiert jQuery et jQuery-UI pour fonctionner.<br />
            Le plugin a &eacute;t&eacute; d&eacute;velop&eacute; avec la version 1.11.0 de jQuery et la version 1.10.4 de jQuery-UI.
        </p>
        
        <h2>Utilisation</h2>
        <p>
            Le plugin rajoute la fonction <span class="code">lookupitem</span> qui peut &ecirc;tre utilis&eacute;e sur tout &eacute;l&eacute;ment du DOM.<br />
            Le contenu HTML de l'&eacute;l&eacute;ment doit &ecirc;tre le nom de l'objet &agrave; afficher.
        </p>
        
        Exemple d'utilisation :
        <h3>Code HTML</h3>
        <span class="code">
            &lt;span class="item-lookup"&gt;Marteau du Bouftou&lt;/span&gt;
        </span>
        <h3>Code JavaScript</h3>
        <span class="code">$(".item-lookup").lookupitem();</span>
        
        <h2>Options</h2>
        <p>
            Le plugin fournit une option qui permet de personnaliser son comportement:<br />
            
            {% for option in plugin_option_list %}
            {% autoescape off %}
            <div class="param">
                <h4>{{ option.name }}</h4>
                <p>{{ option.desc }}</p>
                <h5>Valeurs possibles :</h5> {{ option.type|join:" ; " }}<br />
                <h5>Exemple d'utilisation :</h5> {{ option.example }}<br />
                <h5>Si non fournit :</h5> {{ option.default }}
            </div>
            {% endautoescape %}
            {% endfor %}
        </p>
        
    </div>
</section>

<p class="footer">
    Pour toute question ou suggestion, n'hesitez pas &agrave; <a href="{% url "contact" %}">me contacter</a>.
</p>

{% endblock %}
