
<div class="result item">
    <div class="title">
        <h1>{{ item.name }}</h1>
        {% if item.panoplie %}<h3 class="item-lookup">{{ item.panoplie }}</h3>{% endif %}
        <h4>{{ item.type }}</h4>
        <h4>Niveau {{ item.level }}</h4>
    </div>
    
    <div class="clear"></div>
    
    <div class="description">
        <div>{{ item.description }}</div>
        <input class="light-button keep-aside" name="{{ item.name }}" type="button" value="Comparer" style="display:none" />
    </div>
    
    <div class="clear"></div>
    
    <div class="caracs">
        <div class="image">
            {% include "item_pic.html" with item_id=item.original_id %}
        </div>
        <div class="effects">
            <h2>Effets</h2>
            <ul>
                {% for attr in item.attributes %}
                    <li class="{% cycle "odd" "even" %}">{{ attr }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="conditions">
            <h2>Conditions</h2>
            <ul>
                {% for cond in item.conditions %}
                    <li class="{% cycle "odd" "even" %}">{{ cond }}</li>
                {% endfor %}
            </ul>
        </div>
        {% if item.is_weapon %}
        <div class="attributes">
            <h2>Attributs</h2>
            <ul>
                <li class="odd">Co&ucirc;t en PA : {{ item.cost }}</li>
                <li class="even">Port&eacute;e : {{ item.range }}</li>
                <li class="odd">CC : 1/{{ item.crit_chance }} (+{{ item.crit_damage }})</li>
                <li class="even">EC : 1/{{ item.failure }}</li>
            </ul>
        </div>
        {% endif %}
    </div>
    
    <div class="clear"></div>
    
    {% if item.recipe %}
    <div class="craft">
        <div>
            <h2>Craft :</h2> <h3>{{ item.job }} (Niveau {{item.job_level }})</h3>
        </div>
        <span>{{ item.recipe }}</span>
    </div>
    
    <div class="clear"></div>
    {% endif %}
    
    <div class="invalid">
        <a href="javascript:void(0);" {% if item.invalid %} style="display:none"{% endif %} name="{{ item.name }}">{{item.invalid}}Cet objet est incorrect</a>
        <span{% if not item.invalid %} style="display:none"{% endif %}>Cet objet est marqu&eacute; comme incorrect.</span>
    </div>
    <div class="clear"></div>
</div>
