
<div class="result panoplie">
    <div class="title nowrap">
        <h1>{{ pano.name }}</h1>
        <h4>Niveau {{ pano.level }}</h4>
    </div>
    
    <div class="clear"></div>
    
    <div class="caracs">
        {% for k, v in pano.attributes.items %}
        <div>
            <h2>{{ k }} objets</h2>
            <ul>
                {% for attr in v %}
                    <li class="{% cycle "odd" "even" %}">{{ attr }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    
    <div class="clear"></div>
    
    <ul class="item-list">
        {% for item in pano.items %}
        <li class="item-lookup">{{ item }}</li>
        {% endfor %}
    </ul>
    
    <div class="clear"></div>
</div>
