{% extends "base.html" %}

{% load staticfiles %}
{% load url from future %}

{% block title %}Recherche d'objets{% endblock %}

{% block js %}
<script src="{% static "js/search.js" %}"></script>
{% endblock %}

{% block content %}
<h1>Recherche</h1>

<form id="search-form" action="search.html">
    <div id="types">
        <ul id="type-tree">
            <li class="tree-expanded"><input type="checkbox" id="all" /><label for="all">Tous</label>
                <ul>
                    {% for category in categories %}
                        <li class="category tree-collapsed"><input type="checkbox" id="cat-{{ category }}" /><label for="cat-{{ category }}">{{ category }}</label>
                            <ul>
                                {% for type in category.itemtype_set.all %}
                                    <li class="type"><input type="checkbox" value="{{ type }}" id="type-{{ type|cut:" " }}" name="type" /><label for="type-{{ type }}">{{ type }}</label></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    
    <div id="search-fields">
        <div>
            <label for="level-min">Niveau</label> <input type="text" id="level-min" name="level-min" /> &agrave; <input type="text" id="level-max" name="level-max" /> 
        </div>
        
        <div>
            <h3>
                Effets
                <input type="button" id="add-row" value="Ajouter une ligne" />
            </h3>
            <div id="effects"></div>
            <label for="include-panoplie">Inclure les bonus de panoplie dans la recherche</label> <input type="checkbox" id="include-panoplie" name="include-panoplie" checked="checked" />
        </div>
        
        <a href="javascript:void(0);" id="switch-advanced-search">Recherche avanc&eacute;e</a>
        <div id="advanced-search">
            <label for="name">Nom de l'objet</label> <input type="text" id="name" name="name" />
            
            <div>
                Seulement les recettes &agrave;
                <label for="recipe-1">1</label><input type="checkbox" class="craft-case" id="recipe-1" name="recipe" value="1" />
                <label for="recipe-2">2</label><input type="checkbox" class="craft-case" id="recipe-2" name="recipe" value="2" />
                <label for="recipe-3">3</label><input type="checkbox" class="craft-case" id="recipe-3" name="recipe" value="3" />
                <label for="recipe-4">4</label><input type="checkbox" class="craft-case" id="recipe-4" name="recipe" value="4" />
                <label for="recipe-5">5</label><input type="checkbox" class="craft-case" id="recipe-5" name="recipe" value="5" />
                <label for="recipe-6">6</label><input type="checkbox" class="craft-case" id="recipe-6" name="recipe" value="6" />
                <label for="recipe-7">7</label><input type="checkbox" class="craft-case" id="recipe-7" name="recipe" value="7" />
                <label for="recipe-8">8</label><input type="checkbox" class="craft-case" id="recipe-8" name="recipe" value="8" />
                case(s)
            </div>
            
            <label for="cost-min">Co&ucirc;t en PA :</label> <input type="text" id="cost-min" name="cost-min" /> &agrave; <input type="text" id="cost-max" name="cost-max" />
            <label for="range-min">Port&eacute;e :</label> <input type="text" id="range-min" name="range-min" /> &agrave; <input type="text" id="range-max" name="range-max" />
        </div>
    </div>
    
    <div>
        <a id="search" href="javascript:void(0);">Lancer la recherche</a>
        <a id="clear-search" href="javascript:void(0);">Effacer les termes de la recherche</a>
    </div>
</form>

{% if objects != None %}
<div id="results">
{% for object in objects %}
    {% if object.is_item %}
        {% include "item.html" with item=object %}
    {% else %}
        {% include "pano.html" with pano=object %}
    {% endif %}
{% empty %}
    <span>Aucun objet ne correspond &agrave; ces crit&egrave;res de recherche.</span>
{% endfor %}
</div>
{% endif %}

<div id="template-row">
    <select name="attribute">
        {% for attr in attributes %}
            <option value="{{ attr.name }}">{{ attr.name }}</option>
        {% endfor %}
    </select>
    <label>Min</label> <input type="text" class="value-min" name="value-min" />
    <label>Max</label> <input type="text" class="value-max" name="value-max" />
    <input type="button" class="remove-row" value="-" />
</div>

{% endblock %}
