body {
	padding-top: 50px;
	max-width: 1024px;
	margin: auto;
}

.clear {
    clear: both;
    float: none;
}

nav {
    float: left;
    padding: 20px;
    width: 100px;
}

nav ul {
    padding: 0;
}

