#types {
    border: 1px solid;
    float: left;
    min-height: 162px;
    width: 350px;
}

#types li {
	list-style: disc outside none;
}

#types li.tree-collapsed {
	list-style-image: url("../img/arrow-right.png");
}

#types li.tree-collapsed>ul {
	display: none;
}

#types li.tree-expanded {
	list-style-image: url("../img/arrow-down.png");
}

#types li.tree-expanded>ul {
	display: block;
}


.result {
    background-color: #C4B58A;
    border: 2px inset #C4B58A;
    margin: 10px;
    padding: 0 10px 10px;
}

.result .title {
	font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
	color: #FEF5E3;
    padding: 0 10px;
}

.result .title > h1, .title > h3 {
    float: left;
    text-transform: uppercase;
}

.result .title > h1 {
    margin: 0;
}

.result .title > h3, .title > h4 {
    margin: 6px 0 0 15px;
}

.result .title > h4 {
    float: right;
}


.item .description {
    background-color: #F6EDDC;
    color: #5E4911;
    font-size: 12px;
    padding: 5px 10px;
}

.item .image {
    height: 120px;
    margin: 10px;
    width: 120px !important;
}

.result .caracs {
    color: #000000;
    font-size: 14px;
}

.result .caracs div {
    float: left;
    width: 195px;
}

.result .caracs h2 {
    background-color: #F6EDDC;
    color: #5E4911;
    font-size: 17px;
    margin: 5px;
    padding: 1px 0;
    text-align: center;
    text-transform: uppercase;
}

.result .caracs ul {
    list-style: none outside none;
    margin: 5px;
    padding: 0;
}

.result .caracs ul li {
    padding-left: 3px;
}

.result .caracs ul li.even {
	background-color: #DED0B3;
}

.item .craft {
    background-color: #F6EDDC;
    padding: 5px 10px;
}

.item .craft div {
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
}

.item .craft div h2 {
    font-size: 16px;
}

.item .craft div h3 {
    font-size: 14px;
}

.item .craft div h2, .craft div h3 {
    display: inline;
}

.item .craft span {
    font-size: 14px;
    margin-left: 15px;
}

.panoplie .item-list {
    list-style: none outside none;
    padding: 0;
}

.panoplie .item-list li {
    float: left;
    margin: 0 2px;
}

















