.clear {
    clear: both;
    float: none;
}

.light-button {
    background-color: #F6EDDC;
    border: 2px outset #C4B58A;
    color: #000000;
    cursor: pointer;
    margin: 5px;
    padding: 2px 5px;
    text-decoration: none;
}

.small {
    font-size: 12px;
}

.bold {
	font-size: 18px;
	font-weight: bold;
}



body {
    background-color: #1F2012;
    margin: auto;
    max-width: 1024px;
    padding: 0 10px;
}


header {
    margin: 10px 40px;
}

header a {
    color: #EBBF6D;
    font-family: Tahoma;
    font-size: 54px;
    font-weight: bold;
    text-decoration: none;
}


nav.wide {
    float: left;
    width: 200px;
}

nav.wide div {
    border: 2px solid #FC8D2B;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 0;
}

nav div h1 {
    border-bottom: 1px solid #E79854;
    color: #EBBF6D;
    font-family: Tahoma;
    font-size: 18px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

nav div ul {
    margin: 0;
    padding: 0;
}


nav div li {
    font-size: 14px;
    list-style: none outside none;
    padding: 0 8px 3px;
}

nav div li.even {
	background-color: #3C352D
}

nav div li.active {
    font-size: 20px;
    font-weight: bold;
    padding: 3px 8px 5px;
}

nav div li a {
    color: #E0DCDC;
    text-decoration: none;
}

nav div li a:hover {
    text-decoration: underline;
}


main.wide {
    background-color: #FFF7E0;
    margin-left: 210px;
    padding: 5px;
}



footer {
    margin: 10px;
    text-align: center;
}

footer a {
    color: #60493C;
    text-decoration: none;
}

footer a:hover {
	color: #C4BBA7;
	text-decoration: underline;
}

