body {
	max-width: 1024px;
	margin: auto;
}

.clear {
    clear: both;
    float: none;
}

#types {
    border: 1px solid;
    float: left;
    min-height: 162px;
    width: 350px;
}

.title > * {
    float: left;
}

.title h1 {
    font-size: 1.6em;
}

.item ul {
    float: left;
}

li {
	list-style: disc outside none;
}

li.collapse {
	list-style-image: url("arrow-right.png");
}

li.collapse>ul {
	display: none;
}

li.expand {
	list-style-image: url("arrow-down.png");
}

li.expand>ul {
	display: block;
}
